.scrolled-navbar {
    transition: 1s;
    padding-top: 10px;
    background-color: transparent;
}

.unscrolled-navbar {
    transition: 1s;
    padding-top: 0px;
    background-color: rgba(220, 250, 220, 0.85);
}

.unchange-brand-position {
    transition: 1s;
    position: inherit;
    width: 100px;
}

.change-brand-position {
    transition: 1s;
    position: absolute;
    width: 200px;
}

.new-navbar .navbar-toggler {
    border: none;
    margin: 20px;
    padding: 1px;
    width: 40px;
    height: 40px;
    background-color: rgba(150, 200, 150, 0.95);
}

.navbar-logo {
    display: block;
    position: absolute;
    width: 200px;
}

#navbar-main .navbar-nav .nav-item .nav-link {
    padding: 0.5em 1.2vw !important;
    font-size: 0.9vmax;
    font-weight: 400;
    letter-spacing: 1px;
    color: green;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#navbar-main .navbar-nav .nav-item .nav-link:hover {
    transition: 1s;
    color: red

}

@media (max-width: 981px) {
    .new-navbar {
        background-color: rgba(220, 250, 220, 0.85);
    }

    .new-navbar .navbar-brand img {
        width: 150px;
        position: inherit;
    }

    #navbar-main {
        /*-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;*/
    }

    #navbar-main .navbar-brand {
        /*-webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;*/
    }

    #navbar-main .navbar-nav .nav-item .nav-link {
        text-align: left;
        font-size: 15px;
    }

    #navbar-main .navbar-nav .nav-item .nav-link:hover {
        transition: 1s;
        border-radius: 100px;
        background-color: rgba(50, 150, 50, 0.5);
        color: red;
    }

}
