.profile-page {
    font-family: 'AvenirLTStd-Book', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 20vw;
}

.profile-page .nama-divisi {
    font-size: 32px;
    color: #0f894a;
    font-weight: 900;
}

.profile-page .judul-teks {
    font-size: 25px;
    color: #0f894a;
}

.profile-page .desc {
    position: relative;
    font-size: 18px;
}

.profile-page .image-profile {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.footer {
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 10px;
    background-image: url(https://cdn-images-1.medium.com/max/1600/1*UpcrJ27NaHZa3TTZWCyKuA.png);
    background-size: cover;
    padding: 70px auto 10px auto;
    width: 100%;
    height: 25%;
}
