

.artikel-oke .judul {
    font-family: 'Margot-Bold', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 15px;
    color: white;
}

.artikel-oke {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
}

.tentang-kami .judul {
    font-family: 'Margot-Bold', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 15px;
}

.tentang-kami {
    font-size: 0.75em;s
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}

.icons a{
    color: #a9cd9d;
}
.icons a:hover{
    color: seagreen;
}
.kontak-kami {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.kontak-kami .title {
    font-family: Benton, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: seagreen;
    
}

.kontak-kami #form {
    font-family: 'HelvLight Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
    font-size: 20px;
    text-align: right;
    
}

.kontak-kami #send-email {
    font-family: Benton;
    color: seagreen;
}


.kontak-kami #content {
    font-family: 'HelvLight Regular';
    font-size: 18px;
}
    
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


input,textarea {
    width : 400px;
    margin: 0;   
    box-sizing: border-box;
    border-color: seagreen;
    border-left-style: solid;
    border-top-style: solid;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

textarea {
    border-width: 2px;
}

#required {
    color: #ff4747;
    size: 5px;
    white-space: nowrap ;
}

.ruang-estetika {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.ruang-estetika .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.cubes {
    margin-top: 3%;
}

.cubes a {
    margin-left: 2%;
    margin-right: 2%;
}
