

.artikel-oke .judul {
    font-family: 'Margot-Bold', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 15px;
    color: white;
}

.artikel-oke {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
}

.tentang-kami .judul {
    font-family: 'Margot-Bold', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 15px;
}

.tentang-kami {
    font-size: 0.75em;s
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}
